<head>
    <link href="navbar.css" rel="stylesheet">
</head>
<body>
    <div class="navbar flex justify-between items-center mb-12">
        <div class="logo texlt-2xl font-bold text-primary">FairHire</div>
        <div class="nav-links space-x-6">
            <a href="home.html" class="text-dark hover:text-secondary">Home</a>
            <a href="candidate-dashboard.html" class="text-dark hover:text-secondary">Dashboard</a>
            <a href="upload-resume.html" class="text-dark hover:text-secondary">Upload Resume</a>
            <a href="recruiter-dashboard.html" class="text-dark hover:text-secondary">Recruiter</a>
            <a href="login.html" class="bg-secondary text-white px-4 py-2 rounded-full hover:bg-opacity-90">Sign In</a>
        </div>
    </div>
</body>